# Python cache
**/__pycache__/*

# Possible data location:
data/*
**/*.tfrecord
**/*.pt

# Other
tensorflow_implementation/*
path_integration/experiments/*
path_integration/images/*
**/*.pdf
**/slurm*.out
**/.DS_Store
.idea/*
